.category {
    &__inner {
        display: flex;
        flex-direction: column;
        padding: 8px 24px 16px;;
        border-top:1px solid $line;

    }

    &__name {
        display: flex;
        padding-top: 16px;
        img { 
            padding-right: 15px;
        }

        h3 {
            margin: 0;
        }
        
    }

    &__item {
        display: flex;
        margin-left: 36px;
        padding-top: 16px;

        input {
            margin-right: 9px;
        }

        label {
            margin: 0;
        }
    }
    
}